h1{
    text-align:center;
}
    

#cal{
    border: 1px solid rgb(94, 84, 84);
    border-radius: 5px;
    width: 200px;
    /* height: 100px; */
    margin-left:662px;
    margin-top;97px;

}
#display{
    margin: 10px 2px;
    height: 50px;
    width: 94%;
}

.button_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button{
    width: 45px;
    height: 45px;
    margin: 3px;
}
